//variables globales
$mainColor: rgb(124, 40, 203);
$secondaryColor: rgb (253, 46, 70);
$keyColor:rgb(67, 67, 67);
$white:white;

//fonts
$mainFont:'Roboto', sans-serif;

//weight
$textRegular:400;
$textLight:300;
$textBlod:600;

//sizes
$textSm:0.8em;
$textMd:1em;
$textLg:2em;
$textXl:3em;



